<div
  class="grid grid-cols-1 grid-rows-[7%_1fr_3%] bg-slate-100 m-8 rounded-2xl p-4 h-[90%] max-h-[95%] gap-4"
>
  <div class="flex border-b-2 border-dashed border-slate-400 pb-4 gap-4">
    <p-avatar [image]="data()?.image" size="xlarge" shape="circle" />
    <div>
      <h2 class="font-bold tracking-wider">{{ data()?.name }}</h2>
      <p class="text-xs">{{ data()?.online ? 'Online' : 'Offline' }}</p>
    </div>
  </div>
  <div>
    @for (message of messages(); track $index) {
      <p>{{ message.text }}</p>
    }
  </div>
  <p-inputgroup>
    <input
      pInputText
      placeholder="Send a message"
      class="bg-white"
      type="text"
      [(ngModel)]="message"
    />
    <p-inputgroup-addon>
      <p-button
        icon="fa-regular fa-paper-plane"
        pTooltip="Click to send a message"
        tooltipPosition="bottom"
        (onClick)="onMessageSend()"
      />
    </p-inputgroup-addon>
  </p-inputgroup>
</div>
